
//****************************************************** Variables ****//
$room-form-height: 24px;


//******************************************************** Styles ****//
.room {
  background-color: $room-color;
  margin: 10px 0;
  h3 {
    color: $light-text;
    font-weight: 300;
    margin: 0;
    padding: 10px;
  }
}

.room-form {
  display: flex;
  font-size: 1.2rem;
  input {
    flex: 3;
    height: $room-form-height;
    margin-right: 10px;
    font-size: 0.9rem;
  }
  button {
    flex: 1;
    background-color: rgb(102, 139, 93);
    color: $light-text;
    display: inline-block;
    font-size: 0.9rem;
  }
}

.room-body {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
}

.room-sources,
.room-devices {
  flex: 1;
  padding: 10px;
  h4 {
    margin: 0 0 10px 0;
  }
}

.room-sources {
  border-right: 1px solid #333;
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin-right: 10px;
    padding: 4px;
    background-color: rgb(141, 60, 54);
    color: $light-text;
    &:hover {
      background-color: rgb(180, 106, 102);
    }
  }
}