
.room {
  background-color: $room-color;
  margin: 10px 0;
  h3 {
    color: $light-text;
    font-weight: 300;
    margin: 0;
    padding: 10px;
  }
}

.room-body {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
}

.room-sources,
.room-devices {
  flex: 1;
  padding: 10px;
  h4 {
    margin: 0 0 10px 0;
  }
}

.room-sources {
  border-right: 1px solid #333;
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}