
//****************************************************** Variables ****//

$light-text: rgb(248, 251, 255);

$header-color: rgb(53, 53, 73);
$header-highlight-text: rgb(98, 205, 219);

$main-content-color: rgb(245, 245, 245);
$main-content-text: rgb(54, 54, 63);

$room-color: #3a3335;

$primary-font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$form-height: 25px;
$document-padding: 20px;

//******************************************************* Imports ****//

@import '_header';
@import '_main';
@import '_rooms';

//************************************************ General Styles ****//

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font-stack;
}

button {
  border: none;
  &:focus {
    outline: 0;
  }
}

input:focus {
  outline: 0;
}

.form {
  display: flex;
  font-size: 1.2rem;
  input {
    flex: 3;
    padding-left: 8px;
    height: $form-height;
    margin-right: 10px;
    font-size: 0.9rem;
  }
  button {
    flex: 1;
    background-color: rgb(78, 119, 68);
    color: $light-text;
    display: inline-block;
    font-size: 0.9rem;
    &:hover {
      background-color: rgb(103, 141, 93);
    }
  }
}