
//****************************************************** Variables ****//

$light-text: #f8fbff;

$header-color: #353549;
$header-highlight-text: #62cddb;

$main-content-color: #f5f5f5;
$main-content-text: #36363f;

$room-color: #4b4133;
$source-color: #213841;
$device-color: #4a7460;

$confirm-button-color: #4e7744;
$confirm-button-hover: #678d5d;
$delete-button-color: #8d3c36;
$delete-button-hover: #a55955;

$primary-font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$form-height: 25px;
$document-padding: 20px;

//******************************************************* Imports ****//

@import '_header';
@import '_main';
@import '_rooms';
@import '_item';

//************************************************ General Styles ****//

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font-stack;
}

button {
  border: none;
  &:focus {
    outline: 0;
  }
}

.delete {
  margin-right: 10px;
  padding: 4px 14px;
  background-color: $delete-button-color;
  color: $light-text;
  &:hover {
    background-color: $delete-button-hover;
  }
}

input:focus,
select:focus {
  outline: 0;
}

.form {
  display: flex;
  font-size: 1.2rem;
  input {
    flex: 3;
    padding-left: 8px;
    height: $form-height;
    margin-right: 10px;
    font-size: 0.9rem;
  }
  button {
    flex: 1;
    background-color: $confirm-button-color;
    color: $light-text;
    display: inline-block;
    font-size: 0.9rem;
    &:hover {
      background-color: $confirm-button-hover;
    }
  }
}